<div class="container-fluid">
  <section>
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <h2 class="text-success text-center">全体メール送信完了</h2>
			<div class="text-center">全体メールを送信いたしました。</div>
			<p class="text-center mt-5"><%= link_to "トップページへ戻る", items_path %></p>
		</div>
	</section>
</div>