<div class="container-fluid">
  <section>
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <h2 class="text-success text-center">個別メール送信完了</h2>
			<div class="text-center">メールを送信いたしました。</div>
			<p class="text-center mt-5"><%= link_to "お客様詳細画面へ戻る", user_path(params[:id]) %></p>
		</div>
	</section>
</div>

