<h4>※送料について※</h4>
<div>
	送料について：<br>
	<br>
	関東圏の方：<br>
	¥10,000未満の購入の方は配送一回あたり¥200を頂戴しております。<br>
	¥10,000以上のご購入の方は、送料についてはご相談くださいませ。<br>
	<br>
	関東圏以外の方：<br>
	送料についてはご相談くださいませ。<br>
</div>

<h4>※配送先住所について※</h4>
<div>
	配送先住所を必ずご確認ください。
	お引越しなどにより配送先が変更になった場合には速やかにプロフィールの編集より変更手続きを行ってください。<br>
	万が一ご住所の変更がされずに商品の配達ができなかった際には再配達は出来兼ねますのでご了承いただきますようお願いいたします。
</div>