<div class="container-fluid">
  <section>
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <h2 class="text-success text-center">ご契約申込時の注意事項</h2>

			<h4 class="pt-3">※送料について※</h4>
			<div class="m-3">
				送料について：<br>
				<br>
				関東圏の方：<br>
				¥10,000未満の購入の方は配送一回あたり¥200を頂戴しております。<br>
				¥10,000以上のご購入の方は、送料についてはご相談くださいませ。<br>
				<br>
				関東圏以外の方：<br>
				送料についてはご相談くださいませ。<br>
			</div>

			<h4 class="pt-5">※配送先住所について※</h4>
			<div class="m-3">
				配送先住所を必ずご確認ください。
				お引越しなどにより配送先が変更になった場合には速やかにマイページより変更手続きを行ってください。<br>
				万が一ご住所の変更がされずに商品の配達ができなかった際には再配達は出来兼ねますのでご了承いただきますようお願いいたします。
			</div>
			<p class="text-center mt-5"><%= link_to "トップページに戻る", items_path %>
		</div>
	</section>
</div>