<h2>Webサイトからお問い合わせがありました。</h2>
 
<h3>=====お問い合わせ内容=====</h3>

<table>
	<tr>
		<td>氏名:</td>
		<td><%= @inquiry.name %></td>		
	</tr>
	<tr>
		<td>メールアドレス:</td>
		<td><%= @inquiry.email %></td>
	</tr>
	<tr>
		<td>お問い合わせ内容:</td>
		<td><%= @inquiry.content %></td>
	</tr>
</table>

