<h2>お申し込みありがとうございました。</h2>

<p>
	お申込いただいた内容を確認の上、後日藤池ファームよりご登録のメールアドレスに連絡させていただきます。
	５営業日以内に連絡がない場合はご登録のメールアドレスにお間違いがないかをご確認いただき、お問い合わせフォームよりお問い合わせください。
	この度はお申し込みいただき誠にありがとうございました。
</p>

<h3>お申込商品</h3>

<%= @item.name %>
<%= number_to_currency(@item.price, :precision => 0, :unit => '円') %>