<div class="container-fluid">
  <section>
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
      <h2 class="text-success text-center mb-5">お申し込み完了</h2>
      <div class="offset-md-1 col-md-10">
        この度はふじいけファームをご利用いただき誠にありがとうございます。
        お申込いただいた内容を確認の上、後日藤池ファームよりご登録のメールアドレスに連絡させていただきます。
        ５営業日以内に連絡がない場合はご登録のメールアドレスにお間違いがないかをご確認いただき、お問い合わせフォームよりお問い合わせください。
        この度はお申し込みいただき誠にありがとうございました。
      </div>
      <p class="text-center mt-5"><%= link_to "トップページ", items_path %>　<%= link_to "マイページ", user_path(current_user) %></p>
    </div>
  </section>
</div>