<div>
  <p><%= link_to "商品登録", new_item_path %></p>
  <p><%= link_to "顧客一覧", users_path %></p>
  <p><%= link_to "全体告知メール", notification_make_mails_path %></p>
</div>

<%= link_to "商品一覧画面（トップページ）へ", root_path %>