
<div class="container-fluid">
  <section>
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <h2 class="text-success text-center">送信完了</h2>
			<div class="offset-md-1 col-md-10">お問い合わせいただきありがとうございました。藤池ファームからの返信をお待ちください。<br>
				５営業日以内に連絡がない場合はご登録のメールアドレスにお間違いがないかをご確認いただき、再度お問い合わせフォームよりお問い合わせください。<br>
				稀に迷惑メールに分類されていることもございます。<br>
				ドメイン指定をされている方は"@fujiike.farm"からのメールを受け取れる様ドメインの設定をお願いいたします。
			</div>
			<p class="text-center mt-5"><%= link_to "トップページへ戻る", items_path %></p>
		</div>
	</section>
</div>