<p><%= @resource.email %>様</p>

<p>以下のリンクよりアクセスして新しくパスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このページにアクセスして新しいパスワードを設定するまでパスワードは変更されません。</p>
<p>このメールにお心当たりのない方はこのメールを無視してください。</p>


<p>ふじいけファーム</p>
